textarea{overflow:hidden}       

:root .benefits .container .cell{
	float: left\9;
}

:root .benefits .container .pic,
:root .benefits .container .text{
	float: left\9;
}

:root .benefits .container .pic{
	width: 120px\9;
}
:root .benefits .container .text{
	width: 200px\9;
}

:root .video .increase .left,
:root .video .increase .right,
:root .video .increase .right .row .cell,
:root .bestspread .info .left,
:root .bestspread .info .right
{
	float: left\9;
	width: 50%\9;	
}

:root .video .increase {
	overflow: hidden\9;
}


:root .bestspread .info .quotations .sell .title,
:root .bestspread .info .quotations .buy .title,
:root .bestspread .info .quotations .sell .field,
:root .bestspread .info .quotations .buy .field,
:root .news .cell
{
	float: left\9;	
}

:root .bestspread .info .banks .bank .sell.active,
:root .bestspread .info .banks .bank .buy.active{
	background: #7bba5a\9;
}

:root .news .cell{
	width: 30%\9;
	margin-right: 3%\9;
}

:root .video .increase .right .row{
	overflow: hidden\9;
}