::-ms-clear {
    display: none;
}


@media (max-width: 1366px){
	// edge
	_:-ms-lang(x), .bestspread .info{ 
		margin-bottom: 0;
		.left .vendors img{
			margin-top: 4rem;
		}
		.banks{
			padding-top: 1.5rem;
		}

		.left, 
		.right{
			.info_title{
				padding-top: 0;
			}
		}
	}
}


// safari
_::-webkit-:host:not(:root:root), .form-control{
	// padding-top: .5rem;
}