#section1{
	.flex;
	flex-flow: column;
	.flex{
		height: 100%;
	}
}
/* =header
---------------------------*/
header{
	.wrapper{
		.flex;
		.flex-align-items(center);
		height: 8rem;
	}
	.logo{
		flex-grow: 1;
	}

	.right, a{
		color: @color3;
	}

	.right{
		.flex;
		.flex-align-items(center);

		.lang,
		.auth{
			margin-left: 4.5rem;
			text-transform: uppercase;
		}
		.auth{
			padding-right: 35px;
		}
		a{
			text-decoration: none;
		}

		.skype{
			position: relative;
			&:before{
				.before;
				.sprite;
				background-position: 0 -15px;
				height: 20px;
				left: -30px;
				top: 0;
				width: 35px;
			}
		}

		.auth{
			&.in{
				position: relative;
				&:after{
					.before;
					.sprite;
					height: 15px;
					top: 2px;
					right: 0;
					width: 20px;
				}
			}
		}
	}
}
/* =/header
---------------------------*/



/* =main
---------------------------*/
.main{
	background: #bebebe url(../images/bg-1.jpg) no-repeat center center / cover;
	min-height: 730px;
	flex-grow: 1;
	position: relative;
	.flex;
	.flex-align-items(center);

	.plate{
		background:linear-gradient(to right, rgba(123, 186, 90, 0.9), rgba(176, 215, 83, 0.9));
		color: @color2;
		margin-left: 50%;
		padding: 4.5rem 20% 5rem 4rem;
		width: 50%;
		.title{
			.demi;
			.font-size(3.6);
			font-weight: bold;
			text-align: left;
		}
	}

	.form{
		margin-top: .8rem;
		&-control{
			background: none;
			border-color: @color2;
			color: @color2;
			margin-right: .8rem;
			width: 29.5rem;
			.regular;
			.placeholder;
		}
		.btn{
			letter-spacing: 0.19rem;
			padding-left: 3.7rem;
			padding-right: 3.7rem;
		}
	}

	.vsfc{
		bottom: 20px;
		position: absolute;
		right: 40px;
	}
}
/* =/main
---------------------------*/


/* =benefits
---------------------------*/
.benefits{
	.container{
		.flex;
		.flex-justify-content(space-between);
		padding: 2.5rem 0;
		.pic{
			text-align: center;
			width: 155px;
		}
		.cell{
			.flex;
			.flex-align-items(center);
			line-height: 1.2;
			width: 32%;
			.pic{
				padding-right: 3rem;
			}
			.text{
				flex-grow: 1;
				strong{
					.demi;
					font-weight: normal;
				}
			}
		}
	}
}
/* =/benefits
---------------------------*/



// =SECTION2
/* =video
---------------------------*/
.video{
	.increase{
		.flex;
		padding-top: 6rem;
		.left, .right{
			flex-basis: 50%
		}

		.left{
			.video_wrapper{
				background: url(../images/tv.jpg) no-repeat left top;
				height: 440px;
				width: 544px;
				position: relative;
				video{
					margin-left: 24px;
					margin-top: 23px;
				}
			}
		}
		.right{
			.font-size(2.4);
			padding: 3.2rem 2.7rem 0 3.8rem;
			.row{
				margin: 4rem 0;
				.flex;
				.cell{
					.light;
					.flex;
					.flex-align-items(center);
					.font-size(3.6);
					flex-basis: 50%;
					img{
						margin-right: 1.4rem;
						vertical-align: top;
					}
				}
			}
			.btn{
				margin-top: 1.4rem;
			}
		}
	}
	.remark{
		.font-size(1.4);
		color: @color3;
		padding-top: 5.5rem;
		text-align: center;
	}
}
/* =/video
---------------------------*/



// =SECTION3
/* =bestspread
---------------------------*/
.bestspread{
	background: @color7;
	.title{
		padding-bottom: 0;
	}
	.info{
		.flex;
		margin-bottom: 5.5rem;
		padding-top: 5.8rem;


		.left,
		.right{
			.info_title{
				.font-size(2.4);
				.demi;
				padding-top: 1.5rem;
				padding-bottom: 1rem;
			}
			flex-basis: 50%;
			padding-bottom: 2rem;
		}
		.left{
			padding-right: 4rem;
			border-right: 1px solid @color8;
			.info_title{
				margin-bottom: -2rem;
			}
			.vendors{
				.flex;
				.flex-justify-content(space-between);
				flex-wrap: wrap;
				img{
					margin-top: 6rem;
					margin-right: 2.5rem;
				}
			}
		}
		.right{
			padding-left: 4rem;
		}

		.banks{
			// overflow: hidden;
			padding-top: 3.8rem;
			text-align: center;
			.clear;
			
			.bank{
				float: left;
				margin-right: 3.5rem;
				width: 11rem;
				&:last-child{
					margin-right: 0;
				}
				p{
					.demi;
					color: @color8;
				}
				img{
					vertical-align: top;
					margin-bottom: 1rem;
				}

				.sell,
				.buy{
					.clear;
					.font-size(1.2);
					margin-bottom: .6rem;
					text-transform: uppercase;

					.title,
					.field{
						.font-size(1.2);
						float: left;
						height: 3rem;
						padding-top: .7rem;
						text-align: center;
					}
					.title{
						.rounded(4px 0 0 4px);
						background-color: @color8;
						color: @color2;
						padding-bottom: 0;
						width: 4.1rem;
					}
					.field{
						.rounded(0 4px 4px 0);
						border: 1px solid @color8;
						width: 6.9rem;
					}
					&.active{
						background: linear-gradient(to right, #7bba5a, #b0d753);
						color: @color2;
						padding-top: .4rem;
						padding-bottom: .4rem;
						position: relative;
						
						.rounded(4px);
						.title,
						.field{
							height: 2.2rem;
							background: none;
							border: none;
							padding-top: .3rem;
							padding-bottom: .3rem;
						}
						.title{
							border-right: 1px solid @color2;
						}
						&:before{
							.before;
							background: url(../images/dashed-green.png) no-repeat left top;
							height: 76px;
							left: -13px;
							top: 18px;
							width: 13px;
							z-index: 9;
						}
					}
				}

				.sell{
					margin-top: 1.5rem;
				}
			}
		}

		.quotations{
			.rounded(5px);
			background:#7bba5a ;
			color: @color2;
			margin-top: 2.4rem;
			padding: 2rem 3.8rem 3rem;
			position: relative;

			&:before,
			&:after{
				.before;
				background: url(../images/dashed-white.png) no-repeat left bottom;
				height: 90px;
				width: 11px;
				top: 0;
				left: 127px;
			}

			&:after{
				left: 417px;
			}
			
			.row{
				overflow: hidden;
				padding-top: 2rem;
				.flex;
				.flex-justify-content(space-between);
				.flex-align-items(center);
			}
			.spread{
				float: left;
				margin-left: 2rem;
				margin-right: 2rem;
				text-transform: uppercase;
				letter-spacing: .07rem;
			}

			.title,
			b{
				.demi;
			}

			.sell,
			.buy{
				.font-size(1.6);
				.flex;
				.rounded(5px);
				background-color: @color2;
				float: left;
				min-width: 14rem;
				padding: .5rem 1rem;
				
				.title,
				.field{
					.font-size(1.6);
					color: @color9;
					height: 3rem;
					padding-bottom: 0;
					padding-top: .4rem;
				}

				.title{
					border-right: 1px solid @color9;
					padding-right: 1rem;
					margin-right: .3rem;
				}
				.field{
					padding-left: .3rem;
					letter-spacing: .07rem;
				}
			}
		}
	}
}

/* =/bestspread
---------------------------*/



