@media (min-width: 768px) {
	.containerw{
		width: 96%;
	}	
	.container {
		width: 750px;
	}
}


@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}


@media (min-width: 1100px){
	.container{
		width: 1000px;
	}
}

@media (min-width: 1300px){
	.container{
		width: 1170px;
	}
}



@media (max-width: 1900px){
	.main{
		.flex;
		flex: 1;
		.plate{
			padding-right: 10%;
		}
		&_wrapper{
			min-height: 0;
		}
	}
	.benefits{
		flex-grow: 0;
	}
}

@media (max-width: 1850px){
	.main{
		.plate{
			padding-right: 15%;
		}
	}
}

@media (max-width: 1630px){
	.main{
		.plate{
			padding-right: 10%;
		}
	}
}

@media (max-width: 1450px){
	.main{
		.flex;
		flex-grow: 1;
		.plate{
			padding-right: 7%;
		}
	}
	.main_wrapper{
		min-height: 0;
	}
	.benefits{
		flex-grow: 0;
	}

	.modal-text{
		.modal-dialog{
			margin-top: 2rem;
		}
	}
}


@media (max-width: 1366px){
	.main_wrapper{
		min-height: 0;
		height: auto;		
		.plate{
			padding-right: 2rem;
			padding-left: 3rem;
		}
	}
	.benefits{
		.container{
			.cell{
				.text{
					.font-size(1.5)
				}
			}
		}
	}

	.video{
		.title{
			padding-bottom: .5rem;
		}
		.increase{
			padding-top: 2rem;
		}
		.remark{
			padding-top: 1.5rem;
		}
	}

	.bestspread .info{
		padding-top: 2rem;
		margin-bottom: 2rem;
	}
}


@media (max-width: 1300px){
	.video .increase .right{
		padding-left: 3rem;
		padding-right: 0;
		.row{
			.cell{
				.font-size(2.8);
			}
		}
	}


	.bestspread .info{
		.left{
			padding-right: 1.2rem;
		}
		.right{
			padding-left: 1.2rem;
		}
		.banks{
			.bank{
				margin-right: 1.6rem;
				.sell.active:before, 
				.buy.active:before{
					left: -8px;
				}
			}
		}
		.quotations{
			&:before{
				left: 113px;
			}
			&:after{
				left: 365px;
			}
		}
	}
}


@media (max-width: 1160px){
	.main .form-control{
		width: 27rem;
	}
}

@media (max-width: 1199px){
}

@media (max-width: 1110px){
	.main .plate{
		.form-control{
			width: 25rem;
		}
		.title{
			.font-size(3.2)
		}
		.btn{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}


@media (max-width: 1099px){
	.video .increase .right .row .cell img{
		margin-right: .7rem;
	}

	.bestspread .info{
		.left .vendors img{
			margin-top: 6rem;
			margin-bottom: -1rem;
		}
		div.banks .bank{
			margin-right: 1.6rem;
			width: 10.6rem;
			.sell, 
			.buy{
				.title{
					width: 3.8rem;
				}
				.field{
					width: 6.8rem;
				}
			}
		}
		.quotations{
			&:before{
				left: 109px;
			}
			&:after{
				left: 353px;
			}
		}
	}


	.video .increase .right{
		.font-size(2);
		.row .cell{
			.font-size(2.4)
		}
	}
}

@media (max-width: 1024px){
	.title,
	.subtitle{
		.font-size(3.4);
	}
	.title{
		padding-bottom: 0;
	}
	.main_wrapper .plate{
		margin-left: 35%;
		width: 65%;
	}

	.video{
		.increase{
			padding-top: 3rem;
			.left .video_wrapper{
				background-size: contain;
				height: 390px;
				width: 450px;
				video{
					height: 233px;
					margin-left: 5px;
					margin-top: 18px;
					width: 441px;
				}
			}
		}
		.remark{
			padding-top: 2rem;
		}
	}

	.bestspread .info{
		margin-bottom: 1rem;
		padding-top: 2rem;
		.left .vendors img{
			margin-top: 3.5rem;
		}
		.banks{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	.platforms img{
		margin: 2rem auto;
	}

	.news{
		&_list{
			padding-top: 1rem;
		}
		.cell_wrapper{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		.cell{
			.date{
				padding-bottom: 1rem;
			}
			h4{
				padding-top: 1rem;
			}
			.text{
				.font-size(1.5)
			}
		}
	}

	.modal-text{
		.modal-dialog{
			margin-top: 1rem;			
		}
	}
}


@media (max-width: 1270px) and (max-height: 520px){
	.main{
		.plate{
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			.title{
				.font-size(3);
			}
			.form{
				margin-top: 0;
			}
		}
		.vsfc{
			bottom: 5px;
		}
	}
}

@media (max-width: 1024px) and (max-height: 600px){
	.main_wrapper{
		height: 370px;
	}

	.benefits .container{
		padding-top: .6rem;
		padding-bottom: .6rem;
		.cell{
			.pic{
				padding-right: 1.5rem;
			}
			.text{
				.font-size(1.5);
			}
		}
	}

	.main .vsfc{
		bottom: 0;
	}
}

@media (max-width: 991px){
	.title,
	.subtitle{
		.font-size(3.2);
	}
	.benefits .container .cell{
		.pic{
			padding-right: 1rem;
			width: 120px;
			img{
				width: 100%;
			}
		}
		.text{
			.font-size(1.5);
		}
	}

	.video .increase .left{
		width: 40%;
		.video_wrapper{
			background-size: contain;
			width: 375px;
			video{
				height: 194px;
				margin-left: 16px;
				margin-top: 16px;
				width: 344px;
			}
		}
	}
	.video .increase .right{
		width: 60%;
	}

	.news .cell{
		h4{
			padding-right: 0;
		}
		.text{
			.font-size(1.4)
		}
	}


	.bestspread .info{
		margin-bottom: 3rem;
		padding-top: 3rem;
		div.banks .bank{
			width: 10.5rem; 
			.sell,
			.buy{
				.title{
					width: 3.7rem;
				}
			}
		}

		.left,
		.right{
			.info_title{
				.font-size(1.8);
				white-space: nowrap;
			}
		}
		.left{
			.vendors{
				display: block;
				margin-top: 4rem;
				img{
					margin: 0 1rem 3rem 0;
					max-width: 45%;
					height: auto;
					
				}
			}
		}
	}
	
	.bestspread .info .quotations{
		&:before{
			left: 108px;
		}
		&:after{
			left: 350px;
		}
	}
}

@media (max-width: 900px){
	.video .increase .right .row .cell{
		.font-size(2);
	}
}

@media (max-width: 790px){
	.main_wrapper .plate{
		padding-left: 2rem;
		padding-right: 1rem;
	}
}


@media (max-width: 768px){
	#section1 .fp-tableCell{
		padding-top: 0;
	}

	.title,
	.subtitle{
		.font-size(2.8);
	}

	.containerw{
		width: 90%;
	}

	.fp-section,
	.fp-slide,
	.fp-tableCell{
		height: auto !important;
	}


	.section{
		display: block !important;
		height: auto !important;
		.fp-tableCell{
			height: auto !important;
			display: block;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}


	.benefits .container{
		padding-bottom: 0;
	}

	
	.main_wrapper{
		display: block;
		padding-top: 4rem;
		.plate{
			margin-left: 20%;
			width: 80%;
		}
	}	

	.main .vsfc{
		text-align: right;		
		position: static;
		margin: 2rem 2rem 2rem 0;

	}

	.video{
		padding-bottom: 2rem;
		.increase{
			display: block;
			
			.left,
			.right{
				width: 100%;
			}

			.left{
				.video_wrapper{
					.center-block;
					height: 330px;
				}
			}

			.right{
				text-align: center;
				.row{
					.cell{
						.flex-justify-content(center);
						text-align: center;
					}
				}
			}
		}
	}


	.payments_cards{
		padding-top: 5rem;
		padding-bottom: 3rem;
	}


	.bestspread{
		padding-top: 3rem;
		padding-bottom: 2rem;
		.info{
			display: block;
			.info_title{
				text-align: center;
			}
			.left{
				border-right: none;
				.vendors{
					text-align: center;
					img{
						max-width: 100%;
						margin-left: 2rem;
						margin-bottom: 6rem;
					}
				}
			}

			.banks,
			.quotations{
				.center-block;
				width: 480px;
			}

			.quotations{

			}
		}
	}

	.news{
		&_list{
			display: block;
		}

		.cell{
			.center-block;
			margin-bottom: 3rem;
			width: 80%;
		}
	}

	.modal-text{
		.modal-dialog{
			margin-top: 6%;
			width: 90%;
		}
	}
}


@media (max-width: 740px){
	header{
		padding-top: 2rem;
		.wrapper{
			display: block;
			text-align: center;
			height: auto;
			
			.logo{
				width: 100%;
			}

			.right{
				margin-top: 2rem;
				margin-bottom: 2rem;
				.flex-justify-content(center);
			}
		}
	}

	.benefits{
		overflow: hidden;
	}

	.main_wrapper{
		padding-bottom: 0;
	}
}


@media (max-width: 667px){
	.title, .subtitle{
		padding-bottom: 1rem;
	}

	.video .increase{
		padding-top: 3rem;
	}

	.bestspread{
		padding-top: 0;
	}
}


@media (max-width: 655px){
	.benefits{
		.container{
			display: block;
			.cell{
				float: left;
				width: 33%;
			}
		}
	}

	.payments_cards{
		.flex-justify-content(space-between);
		padding: 2rem 1rem 1rem;
		
		img{
			margin-left: 0;
			margin-right: 0;
		}
	}

	footer{
		.row{
			.left,
			.right{
				float: none;
			}

			.right{
				padding-top: 3rem;
			}
		}
		.links{
			margin-top: 3rem;
		}
	}
}

@media (max-width: 620px){
	.main_wrapper .plate{
		margin-left: 5%;
		width: 95%;
		.title{
			.font-size(2.8);
		}
	}
}


@media (max-width: 600px){
	.title{
		padding-bottom: 1.5rem;
	}

	.video .increase{
		padding-top: 3rem;
	}

	.bestspread{
		padding-top: 0;
	}

	.bestspread .info .left{
		padding-bottom: 0;
		margin-bottom: -2rem;
	}
	.benefits{
		padding-top: 2rem;
	}	
}


@media (max-width: 580px){
	.modal{
		padding-right: 0 !important;
	}

	.main_wrapper{
		height: auto;
	}
}


@media (max-width: 530px){
	.main{
		.plate{
			.title{
				.font-size(2.6);
				text-align: center;
			}
			.form-control,
			.submit{
				width: 100% !important;
			}
			.form-control{
				margin-bottom: 2rem;
			}
		}
	}

	.benefits{
		.container{
			padding-bottom: 0;
			.cell{
				float: none;
				margin-bottom: 3rem;
				width: 100%;
				img{
					width: auto;					
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.bestspread{
		padding-top: 0;
	}

	.modal{
		&-dialog{
			margin-top: 25%;
			width: 90% !important;
			.form-control{
				width: 100%;
			}
			form{
				width: 100% !important;
			}
		}
	}
}


@media (max-width: 510px){
	.payments_cards{
		display: block;
		img{
			margin: 0 2rem 2rem;
		}
	}

	.bestspread .info .right{
		padding-left: 0;
	}
}

@media (max-width: 498px){
	.title,
	.subtitle{
		.font-size(2.2);
	}

	.bestspread .info .right{
		border: 1px solid #dddddd;
		margin-bottom: 15px;
		min-height: 0.01%;
		overflow-x: auto;
		width: 100%;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}


	.main{
		.plate{
			padding-top: 2.5rem;
			padding-bottom: 3rem;
		}
		.vsfc{
			bottom: 10px;
		}
	}

	.benefits .container .cell{
		display: block;
		overflow: hidden;
		
		.pic{
			float: left;
			padding-left: 1rem;
		}
		.text{
			float: left;
			width: ~"calc(100% - 120px)";	
		}
	}
}

@media (max-width: 450px){
	#registration,
	#auth{
		.modal{
			&-dialog{
				.modal-body{
					margin-top: 3rem;
					.form-control{
						padding-left: 1.5rem;
						padding-right: 1.5rem;
					}
					.submit{
						padding-left: 0;
						padding-right: 0;
					}
				}
				.modal-content{
					padding: 4rem 2rem 4rem 2rem;
				}
			}
			&-title{
				.font-size(3);
			}
		}
	}

	.video .increase .right{
		padding-left: 0;
	}

	.news_list{
		padding-top: 1rem;
	}

	.modal-content{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.modal-title{
		.font-size(3);
	}

	.modal-body h3{
		.font-size(2.2)
	}
}


@media (max-width: 429px){
	.main .plate .title{
		.font-size(2.5);
	}	
}


@media (max-width: 414px){
	.main{
		display: block;
		flex-basis: auto;
	}

	.main .plate .title{
		.font-size(2.4);
	}	

	.main_wrapper{
		height: auto;
		display: block;
		padding-top: 3rem;
	}

	.main .vsfc{
		margin-top: 3rem;
		position: static;
	}

	#section1 .fp-tableCell{
		height: auto !important;
	}
}


@media (max-width: 400px){
	.img-responsive{
		max-width: 90%;
	}
	.title,
	.subtitle{
		.font-size(2);
	}



	header .right{
		display: block;
		.language,
		.auth{
			margin-left: 0;
			margin-top: 2rem;
			&.in{
				&:after{
					left: 50%;
					right: auto;
					margin-left: 20px;
				}
			}
		}

		.language_current:before{
			left: 50%;
			margin-left: -55px;
		}

		.language_selector{
			left: 50%;
			margin-left: -50px;
		}
	}


	.benefits{
		display: block;
		padding-top: 0;
		.container{
			width: 90%;
			.cell{
				display: block;
			}
			.pic{
				float: left;
				width: 120px;
			}
		}
	}

	.video .increase{
		.left .video_wrapper{
			height: 250px;
			width: 300px;
			video{
				height: 155px;
				margin-left: 13px;
				margin-top: 12px;
				width: 275px;
			}
		}
		.right{
			padding-left: 0;
		}
	}

	.bestspread .info .left .vendors{
		margin-bottom: -5rem;
	}

	.payments_cards{
		margin-bottom: -3rem;
		img{
			margin-bottom: 3rem;
		}
	}

	.platforms{
		img{
			.center-block;
		}
	}

	.news .cell{
		width: 90%;
	}

	footer{
		.left,
		.right,
		.links
		{
			text-align: center;
		}
		.links{
			a{
				display: block;
				margin-right: 0;
				margin-bottom: .5rem;
			}
		}

		.fp-tableCell{
			padding-bottom: 1rem !important;
		}
	}
}



@media (max-width: 385px){
	footer{
		.links{
			a{
				.font-size(1.4);
			}
		}
	}
}

@media (max-width: 320px){
	header{
		.containerw{
			width: 100%;
		}
	}

	.main .plate .title{
		.font-size(2.4)
	}

	.benefits .container .cell{
		text-align: center;
		.pic{
			display: none !important;
		}
		.text{
			float: none;
			width: 100%;
		}
	}

	.video{
		padding-bottom: 0;
		.increase{
			padding-top: 3rem;
		}
		.remark{
			padding-top: 2rem;
		}
	}

	.payments_cards{
		img{
			display: block;
			.center-block;
		}
	}

	.chat-btn{
		bottom: 2rem;
		right: 1.5rem;
	}

	.modal{
		&-dialog{
			.modal-title{
				font-size: 24px !important;
			}
		}
		.modal-content{
			padding-bottom: 2rem;
		}
	}

	footer{
		.links{
			a{
				.font-size(1.3);
			}
		}
	}
}